.Capture-btn {
  padding: 1%;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  /* border: 1px solid;
  background-color: pink; */
}

.Camera-emotion-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 0.5px solid #000;
}