body {
    display: flex;
    justify-content: center;
    padding-top: 25vh;
}

.Main-content {
    width: 50vw;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: aliceblue;
    border: 0.5px solid grey;
    border-radius: 20px;
    gap: 20px;
}

.Headings {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
}

.Links-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.Links {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9bcbf5;
    border: 0.5px solid grey;
    border-radius: 7px;
    color: black;
    text-decoration: none;
    width: 8vw;
    height: 5vh;
}