.App {
  text-align: center;
  /* height: 100vh; */
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: start;
  padding-left: 2%;
}

.App-header {
  background-color: #EFEFEF;
  min-height: 7vh;
  max-height: 7vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  gap: 10px;
  padding: 1%;
  margin-bottom: 3%;
}

.Change-tab-btns {
  padding: 1%;
  width: 100px;
  border-radius: 10px;
  border: 1px solid;

}

.Active-btn {
  background-color: rgb(75, 222, 222);
}

.Content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  /* border: 1px solid #c3c3c3; */
  border-radius: 10px;
  width: 80vw;
  text-align: left;
  /* box-shadow: 1px 1px 10px 0px #000; */
  margin-bottom: 1%;
}

.Container-items {
  padding-left: 3%;
  border-bottom: 0.5px solid #d8d6d6;
  /* display: flex;
  justify-content: space-around; */
}

/* .Capture-btn {
  padding: 1%;
  width: 200px;
  height: 50px;
  border-radius: 10px;
}

.Camera-emotion-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 0.5px solid #000;
} */

/* .Camera {
  display: none; 
} */